{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    ["babel-root-import", {
      "rootPathPrefix": "@",
      "rootPathSuffix": "src/"
    }]
  ],
  "env": { 
    "production": {
      "plugins": [
        ["babel-root-import", {
          "rootPathPrefix": "@"
        }]
      ]
    }
  }
}
